# === Application ===
NODE_ENV=development
PORT=3000

# === PostgreSQL ===
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=sr_be_db
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"

# === Keycloak ===
KEYCLOAK_PORT=8080
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_ISSUER_URL=http://localhost:8080/realms/sr-realm
KEYCLOAK_CLIENT_ID=sr-be-client

# === Kafka ===
KAFKA_PORT=9092
KAFKA_BROKERS=localhost:9092
KAFKA_CONSUMER_GROUP_ID=sr-consumer-group
